<html>
  <head>
    <title>Voir un potin</title>
  </head>
  <body>
    <div class="">
      <h1>POTIN n° <%= gossip.id %> de <%= gossip.author %> <h1>
      <p><%= gossip.content %></p>
      <a href="/gossips/<%= gossip.id %>/edit">Éditer</a>
      <a href="/">Retour à l'accueil</a>
    </div>
    <div class="">
      <h2>Commentaires</h2>
      <form action='/gossips/<%= gossip.id %>' method='POST' >
        Saisi ton commentaire :  <input type='text' name='gossip_comment'/><br/>
        <input type="hidden" name="gossip_id" value=<%= gossip.id %> >
        <input type="hidden" name="gossip_author" value="<%= gossip.author %>" >
        <input type="hidden" name="gossip_content" value="<%= gossip.content %>" >
        <input type="hidden" name="gossip_comments" value="<%= gossip.comments %>" >
        <input type='submit'/>
      </form>
      <% gossip.comments.each do |comment| %>
        <li><%=  comment %></li>
      <% end %>
    </div>
  </body>
</html>
